
        <!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
        <head>
            <meta charset="UTF-8">
            <title>Employee Project Management</title>
            <style>
                table, th, td {
                    border: 1px solid black;
                    border-spacing: 0px;
                }
                th, td {
                    padding: 10px;
                }
                .backcolor {
                    background-color: cyan;
                }
            </style>
        </head>
        <body th:class="backcolor">
        <h2>Project Details</h2>
        <table border="1">
            <tr>
                <th>ProjectID</th>
                <th>ProjectName</th>
                <th>ProjectDescription</th>
            </tr>
            <tr th:each = "project: ${projects}">
                <td th:text="${project.projectId}">vasile</td>
                <td th:text="${project.projectName}">45</td>
                <td th:text="${project.projectDesc}">45</td>
            </tr>
        </table>

        <br />

        <div>
            <h3>Enter Project Details To Add</h3>
            <form action="/addProject" method="post">
                <table>
                    <tr>
                        <td><label id="projectName">Project Name</label></td>
                        <td><input type="text" name="projectName"></input></td>
                    </tr>
                    <tr>
                        <td><label id="projectDesc">Project Description</label></td>
                        <td><input type="text" name="projectDesc"></input></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit"></input></td>
                    </tr>
                </table>
            </form>
        </div>


        <div>
            <h3>Select Project To Delete</h3>
            <form action="/deleteProject" method="post">
                <table>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit"></input></td>
                    </tr>
                </table>
            </form>
        </div>

        <h2>Search Project</h2>
        <form action="/searchProject" method="GET">
            <input type="text" name="search" id="search" th:value="${search}" />
            <input type="submit" value="Search" />
        </form>
        </body>
        </html>