<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <style>
        .city {
            background-color: tomato;
            color: white;
            padding: 10px;
            font-family: "Comic Sans MS";
        }

        .backcolor {
            background-color: cyan;
        }
        .h1 {
            color: black;
            padding: 10px;
            font-family: "Arial Black";
            font-style: italic;
        }

        .h2 {
            background-color: darkmagenta;
            color: black;
            padding: 10px;
        }

    </style>

</head>
<body th:class="backcolor">
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="#">About</a>
            <a class="navbar-brand" href="#">Contact Us</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1 th:class="h1">TECTYPE INDIA</h1>
    <h2>
        <span th:class="city" th:text="'Welcome home: ' + ${message}"></span>
    </h2>


</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>